@font-face {
  font-family: "iconfont"; /* Project id 2562291 */
  src: url('iconfont.woff2?t=1638924974541') format('woff2'),
       url('iconfont.woff?t=1638924974541') format('woff'),
       url('iconfont.ttf?t=1638924974541') format('truetype');
}

.iconfont {
  font: normal normal normal 16px/1 'iconfont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-qrcode:before {
  content: "\e65d";
}

.icon-Phone:before {
  content: "\e630";
}

.icon-on-demand:before {
  content: "\e766";
}

.icon-half_pc:before {
  content: "\e640";
}

.icon-qr-code:before {
  content: "\e68d";
}

.icon-star:before {
  content: "\e681";
}

.icon-thumbsdown:before {
  content: "\ec2a";
}

.icon-thumbsup:before {
  content: "\ecd8";
}

.icon-star-half-o:before {
  content: "\e606";
}

.icon-volume:before {
  content: "\e60c";
}

.icon-thumbs-o-up:before {
  content: "\e6b2";
}

.icon-thumbs-o-down:before {
  content: "\e833";
}

.icon-copy:before {
  content: "\e660";
}

.icon-folder:before {
  content: "\e694";
}

.icon-pause:before {
  content: "\e61f";
}

.icon-circle:before {
  content: "\e60d";
}

.icon-share-o:before {
  content: "\e63e";
}

.icon-disk:before {
  content: "\e634";
}

.icon-next:before {
  content: "\e648";
}

.icon-prev:before {
  content: "\e64f";
}

.icon-system_folder:before {
  content: "\e647";
}

.icon-play:before {
  content: "\e683";
}

.icon-skip_previous:before {
  content: "\e60f";
}

.icon-copy-link:before {
  content: "\e64d";
}

.icon-mute:before {
  content: "\e68e";
}

.icon-suoluetu:before {
  content: "\e63d";
}

.icon-baseline-skip_next-:before {
  content: "\e610";
}

.icon-reply-:before {
  content: "\e62e";
}

.icon-view:before {
  content: "\e611";
}

.icon-pic:before {
  content: "\e74e";
}

.icon--yiduxiaoxi:before {
  content: "\e61a";
}

.icon-cloud-upload:before {
  content: "\e68c";
}

.icon-upload:before {
  content: "\e608";
}

.icon--huishouzhan:before {
  content: "\e64e";
}

.icon-play-circle:before {
  content: "\e626";
}

.icon--desk:before {
  content: "\e625";
}

.icon--quanbuxiaoxi:before {
  content: "\e635";
}

.icon-outdent:before {
  content: "\e6a1";
}

.icon--weiduxiaoxi:before {
  content: "\e60e";
}

.icon-move_down:before {
  content: "\e623";
}

.icon-move_up:before {
  content: "\e627";
}

.icon-tuichudenglu:before {
  content: "\e607";
}

.icon--guanzhu:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-modify:before {
  content: "\e61c";
}

.icon-schedule:before {
  content: "\e7c5";
}

.icon-jiankong:before {
  content: "\e604";
}

.icon--pencil:before {
  content: "\e603";
}

.icon-user1:before {
  content: "\e90e";
}

.icon-wrench:before {
  content: "\e65b";
}

.icon-history:before {
  content: "\e735";
}

.icon--plussquareo:before {
  content: "\eb9e";
}

.icon-exclamationcircle:before {
  content: "\e6c9";
}

.icon-video:before {
  content: "\e680";
}

.icon--arrowleft:before {
  content: "\e6bc";
}

.icon--arrowright:before {
  content: "\e6bd";
}

.icon--refresh:before {
  content: "\e63f";
}

.icon--star-o:before {
  content: "\e66b";
}

.icon-circle-play:before {
  content: "\e61b";
}

.icon--trash:before {
  content: "\e840";
}

.icon-cogs:before {
  content: "\e6a4";
}

.icon--minus-square-o:before {
  content: "\e78d";
}

.icon-add:before {
  content: "\e64c";
}

.icon--bell-o:before {
  content: "\eb69";
}

.icon-lock:before {
  content: "\e6c3";
}

.icon--users:before {
  content: "\e78f";
}

.icon--home:before {
  content: "\e6b9";
}

.icon--share:before {
  content: "\e63b";
}

.icon-user:before {
  content: "\e618";
}

.icon-iconfontmoban_fuzhi:before {
  content: "\e602";
}

.icon-list:before {
  content: "\e672";
}

.icon-video-camera:before {
  content: "\e61e";
}

.icon-question:before {
  content: "\e6ff";
}

.icon--bell:before {
  content: "\e624";
}

.icon-minus:before {
  content: "\e666";
}

.icon-link:before {
  content: "\e77b";
}

.icon-indent:before {
  content: "\e9f3";
}

